<footer class="footer footer--light">
    <div class="container">
        <div class="footer__widgets">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <aside class="widget widget-logo">
                        <a href="index.html">
                            <img src="img/logo_default_white.png" srcset="img/logo_default_white.png 1x, img/logo_default_white@2x.png 2x" class="logo__img" alt="">
                        </a>
                        <p class="copyright">

                            این یک سایت آزمایشی است.

                        </p>
                        <div class="socials socials--large socials--rounded mb-24">
                            <a href="#" class="social social-facebook" aria-label="facebook"><i class="ui-facebook"></i></a>
                            <a href="#" class="social social-twitter" aria-label="twitter"><i class="ui-twitter"></i></a>
                            <a href="#" class="social social-google-plus" aria-label="google+"><i class="ui-google"></i></a>
                            <a href="#" class="social social-youtube" aria-label="youtube"><i class="ui-youtube"></i></a>
                            <a href="#" class="social social-instagram" aria-label="instagram"><i class="ui-instagram"></i></a>
                        </div>
                    </aside>
                </div>

                <div class="col-lg-2 col-md-6">
                    <aside class="widget widget_nav_menu">
                        <h4 class="widget-title">موضوع های داغ</h4>
                        <ul>
                            <li>
                                <a asp-page="Search" asp-route-categorySlug="web-developer">
                                    وب
                                    </a>
                                </li>
                            <li>
                                <a asp-page="Search" asp-route-categorySlug="mobile-programming">
                                    موبایل
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div>


            </div>
        </div>
    </div> <!-- end container -->
</footer> <!-- end footer -->
